{% extends '_lr_struct.html' %}
{% block header %}
 Check out — it’s free! {{person.name}}
{% endblock %}
{% block error%}
   {{ error }}
{% endblock%}

{% block form %}
   <form action="{% url 'login' %}" method="post" name="login">
      {% csrf_token %}
      <div class="form-group"><!-- 
         <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Name">
      </div> -->
      <div class="form-group">
         <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email">
      </div>
      <!-- <div class="form-group">
         <input type="number" min="0" name="phone" id="phone"  class="form-control my-input" placeholder="Phone">
      </div> -->

      <div class="form-group">
         <input type="password" min="0" name="password" id="password"  class="form-control my-input" placeholder="Password">
      </div>
      <div class="form-group">
      <div class="text-center ">
         <button type="submit" class=" btn btn-block send-button tx-tfm">Login</button>
      </div>
   </form>

   </div><div class="form-group">
      <div class="text-center ">
         <a type="button" href="{% url 'register' %}"class=" btn btn-block send-button tx-tfm">Register</a>
      </div>
   </div>
{% endblock %}